sudo: false
language: perl

perl:
 - "5.10"
 - "5.12"
 - "5.14"
 - "5.16"
 - "5.18"
 - "5.20"
 - "5.22"

install:
  - cpanm JSON::PP Dist::Zilla Dist::Zilla::Plugin::BlockRelease
  - dzil authordeps --missing | cpanm || { cat ~/.cpanm/build.log ; false ; }
  - dzil listdeps --author --missing | cpanm || { cat ~/.cpanm/build.log ; false ; }

script:
  - HARNESS_OPTIONS=j9:c DZIL_AIRPLANE=1 PERL5OPT=Ilib dzil test --author

notifications:
  recipient:
   - alessandro@ghedini.me
  email:
    on_success: change
    on_failure: always
